/* Universal  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;

}
/* Header  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    margin-left: 25px;
}


.header nav ul li {
    display: inline-block;
    margin-left: 25px;
 
}

a {
    display: flex;
    color: #ffffff;
    text-decoration: underline lightblue;
   justify-content: flex-end;
}
/* Main  */
p {
    font-size: 16px;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./blackandgraybackground.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}
.container .box {
    position: relative;
    max-width: fit-content;
    height: 200px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: lightblue;
}

.about-me {
    margin-bottom: 32px;
    color: #ffffff;
}

.my-work{
    margin-bottom: 32px;
    color: #ffffff;
    background-image: url("background3.jpeg");
}

.contact-me {
    margin-bottom: 32px;
    color: #ffffff;
}


.about-me img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.my-work img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
   
}

.contact-me img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    }
.justify-center {
    justify-content: center;
    }

.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.my-work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* footer  */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
@media screen and (min-width: 768px) {
    .column {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .column:last-child {
      flex-grow: 1;
    }
}
@media screen and (min-width: 992px) {
    }
    
